{% extends 'base.html' %}
{% set page_title = page.tag.name %}
{% set active_section = site.routes.tags.canonical_path %}
{% block content %}
{% from 'components.html' import entry_list with context %}
<div class="page-heading"><a class="breadcrumb" href="{{ site.routes.tags.canonical_path }}">← Tags</a><h1 class="topic-heading">{{ page.tag.name }}</h1><p>{{ page.tag.posts|length }} related {{ 'article' if page.tag.posts|length == 1 else 'articles' }}</p></div>
<div class="tag-entries">{{ entry_list(page.tag.posts) }}</div>
{% endblock %}
