{% extends 'base.html' %}

{% block title %}{{ issue.title }}{% endblock %}

{% block content %}
<div class="content" id="mobile-panel">
    <article class="post">
        <header class="post__header">
            <h1 class="post__title">{{ issue.title }}</h1>
            <div class="post__meta">
                <span class="post__time">{{
                    issue.created_at.strftime('%Y-%m-%d') }}</span>
            </div>
        </header>
        <div class="post__content">{{ html_body|safe }}</div>
    </article>
</div>
{% endblock %}

{% block script %}
<script src="https://utteranc.es/client.js"
        repo="geoqiao/geoqiao.github.io"
        issue-number="{{ issue.number }}"
        theme="github-light"
        crossorigin="anonymous"
        async>
</script>
{% endblock %}

