{% extends 'base.html' %}

{% block title %}{{ issue.title }} - {{ blog_title }}{% endblock %}

{% block content %}
<article class="post full-post">
    <h1 class="post-title">{{ issue.title }}</h1>
    <div class="post-meta">
        发布于 {{ issue.created_at.strftime('%Y-%m-%d') }}
        {% if issue.labels %}
        | 标签:
        {% for label in issue.labels %}
        <a href="/tag/{{ label.name }}.html" class="tag">{{ label.name }}</a>
        {% endfor %}
        {% endif %}
    </div>
    <div class="post-content">
        {{ html_body|safe }}
    </div>
</article>

<div id="comments">
    <script src="https://utteranc.es/client.js" repo="{{ github_name }}/{{ github_name }}.github.io"
        issue-number="{{ issue.number }}" theme="github-light" crossorigin="anonymous" async>
        </script>
</div>
{% endblock %}
