{% extends 'base.html' %}

{% block title %}{{ issue.title }}{% endblock %}

{% block content %}
<div class="content" id="mobile-panel">
    <article class="post">
        <header class="post__header">
            <h1 class="post__title">{{ issue.title }}</h1>
            <div class="post__meta">
                <span class="post__time">{{
                    issue.created_at.strftime('%Y-%m-%d') }}</span>
            </div>
        </header>
        <div class="post__content">{{ html_body|safe }}</div>
    </article>
</div>

<div class="comments" id="comments"><div id="utterances-container"></div>
{% endblock %}

{% block script %}
    var container = document.getElementById('utterances-container')
    var script = document.createElement('script')
    script.src = 'https://utteranc.es/client.js'
    script.setAttribute('repo', 'geoqiao/geoqiao.github.io')
    script.setAttribute('issue-number', '{{ issue.number }}')
    script.setAttribute('theme', 'github-light')
    script.setAttribute('label', 'utterances')
    script.crossorigin = 'anonymous'
    script.async = true

    container.appendChild(script)
{% endblock %}
